.botao {
    background: #6278F7;
    border-radius: 16px;
    font-weight: 700;
    font-size: 18px;
    padding: 32px;
    color: #FFF;
    cursor: pointer;
    font-weight: bold;
    border: none;
}

.botao:hover {
    transform: scale(1.04);
    transition: 1s
}

.botao:focus {
    background: #fafafa;
    color: #6278F7;
    transition: 1.2s
}

