@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
body {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.times {
  text-align: center;
}

h1 {
  font-size: 40px;
  color: #6278F7;
  border-bottom: 4px solid #6278F7;
  display: inline-block;
  padding-bottom: 24px;
  margin: 28px 0;
}

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}